.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: white;
    padding: 1rem 2rem;
  }
  
  .navbar .logo img {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #3ba8f0; /* azul resaltado */
  }
  