.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(to left, hwb(226 4% 57%), #1c5caa);
  color: white;
  padding: 1rem 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo img {
  height: 80px;
  transition: transform 0.3s ease;
}

.navbar .logo img:hover {
  transform: scale(1.05);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem; /* más separación entre opciones */
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 0.5rem 0;
  display: inline-block;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #3ba8f0;
  transition: width 0.3s;
  margin-top: 5px;
  border-radius: 10px;
}

.nav-links a:hover {
  color: #3ba8f0;
  transform: translateY(-2px);
}

.nav-links a:hover::after {
  width: 100%;
}

.navbar .logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .logout-button:hover {
  background-color: #e63946;
  transform: scale(1.05);
}

.navbar .logout-button:focus {
  outline: none;
}
