<h1>La mejor app de tienda deportiva</h1>
<img src="assets/logo_dynamicfit.png" alt="Logo horizontal" />
<p>
  DynamicFit es una tienda deportiva que ofrece una amplia gama de productos para
  satisfacer las necesidades de los amantes del deporte. Desde zapatillas de
  running hasta ropa deportiva, DynamicFit tiene todo lo que necesitas para
  mantenerte activo y en forma.
</p>
<p>
  La aplicación DynamicFit te permite explorar nuestro catálogo de productos,
  realizar compras en línea y gestionar tu carrito de compras de manera
  sencilla y rápida. Además, puedes acceder a informes detallados sobre tus
  pedidos y disfrutar de una experiencia de compra personalizada.
</p>
<p>
  Con un diseño intuitivo y fácil de usar, la aplicación DynamicFit está
  diseñada para brindarte la mejor experiencia de compra posible. Ya sea que
  estés buscando zapatillas para correr, ropa deportiva o accesorios, DynamicFit
  es tu destino ideal.
</p>
<p>
  ¡Descarga la aplicación DynamicFit y comienza a disfrutar de una experiencia de
  compra única hoy mismo!
</p>
<p>
  <strong>¡Gracias por elegir DynamicFit!</strong>
</p>
<p>
  <strong>Desarrollado por:</strong> Tu nombre o el nombre de tu equipo de
  desarrollo.

</p>
<p>
  <strong>Fecha:</strong> Fecha de desarrollo
</p>
<p>
  <strong>Versión:</strong> 1.0.0
</p>
<p>
  <strong>Contacto:</strong>